.metadata/**/*
RemoteSystemsTempFiles/**/*
.classpath
.project
.settings/**/*
target/**/*
.DS_Store
.idea
*.iml
data/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
